.instructions {
    display: block;
    margin: 67px auto;
}

.instructions__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #E9E9E9;
}